.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.3;
}

a {
  text-decoration: none !important;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: inherit;
  transition: opacity 0.3s;
  display: block;
}
@media (hover: hover) {
  a:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

picture,
img,
span {
  display: inline-block;
}

video,
img,
svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  font: inherit;
  color: inherit;
  background: transparent;
  background: none;
  border: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (hover: hover) {
  button:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

input,
textarea,
select {
  font: inherit;
}

@media (min-width: 768px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
  }
}
.l-main {
  max-width: 1024px;
  margin-inline: auto;
  background-color: #eee;
}